.mobile-menu-active {
    overflow: hidden;
}

body {
    font-family: "Lexend", sans-serif;
}

.font-bebas {
    font-family: "Bebas Neue", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

.card {
    position: absolute;
    width: 80%;
    max-width: 900px;
    height: 60vh;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    opacity: 0;
    transform: scale(0.8);
}